extends layout

block content
	.container
		span.loading.hide
		nav.navbar.navbar-default
			.navbar-brand PiCam
		ol.instructions
			li tap in the square bellow to take a photo
			li you can tap again in the square to re-take a photo
			li your photo will be attached to the tweet
		.row
			.col-md-12.main
				img.preview.img-responsive.shoot(src="")
				textarea.message.form-control(placeholder="Enter Tweet here...")
				button.btn.btn-hg.btn-primary.tweet.btn-block
					span.fui-twitter
					span   Tweet!
		p.copy Crafted at PiLabs, inc &copy; 2014.			