doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="/js/zepto.min.js")
    script(src="/js/app.js")
  body
    block content