body{
	margin: 0;
	padding: 0;
}
a {
  color: #00B7FF;
}
.navbar-default .navbar-brand {
	color: white;
}
.navbar-default {
	background-color: #000;
	border-radius: 0;
}
.navbar-brand{
	padding: 14px 21px 20px 21px;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.main{
	padding: 10px;
	text-align: center;
}
.main img{
	min-height: 234px;
	width: 90%;
	border: 2px solid #ccc;
	border-radius: 2px;
}
.message{
	width: 90%;
}
.btn{
	width: 100%;
	background: #3498db;
}
.instructions{
	font-size: 0.7em;
	margin:-20px 0 0 0;
}
.copy{
	text-align: center;
	font-size: 0.6em;
}
.loading {
  border-radius:10px;
  height:16px;
  width:16px;
  background:#ebedee;
  position:absolute;
  -webkit-animation: corner 1s ease infinite;
  -moz-animation: corner 1s ease infinite;
  -ms-animation: corner 1s ease infinite;
  -o-animation: corner 1s ease infinite;
  animation: corner 1s ease infinite;
  top: 55%;
  left:50%;
  margin-left:-8px;
  margin-top:-8px;
  position: fixed;
  top: 28px;
}
@-webkit-keyframes corner {

  0% {background: #e74c3c;-webkit-transform: rotate(0deg);border-radius:10px;}
  50% {background: #ebedee;-webkit-transform: rotate(180deg);border-radius:0;}
  100% {background: #e74c3c;-webkit-transform: rotate(360deg);border-radius:10px;}
}
@-moz-keyframes corner {

  0% {background: #e74c3c;-moz-transform: rotate(0deg);border-radius:10px;}
  50% {background: #ebedee;-moz-transform: rotate(180deg);border-radius:0;}
  100% {background: #e74c3c;-moz-transform: rotate(360deg);border-radius:10px;}
}
@-ms-keyframes corner {

  0% {background: #e74c3c;-ms-transform: rotate(0deg);border-radius:10px;}
  50% {background: #ebedee;-ms-transform: rotate(180deg);border-radius:0;}
  100% {background: #e74c3c;-ms-transform: rotate(360deg);border-radius:10px;}
}
@-o-keyframes corner {

  0% {background: #e74c3c;-o-transform: rotate(0deg);border-radius:10px;}
  50% {background: #ebedee;-o-transform: rotate(180deg);border-radius:0;}
  100% {background: #e74c3c;-o-transform: rotate(360deg);border-radius:10px;}
}
@keyframes corner {

  0% {background: #e74c3c;transform: rotate(0deg);border-radius:10px;}
  50% {background: #ebedee;transform: rotate(180deg);border-radius:0;}
  100% {background: #e74c3c;transform: rotate(360deg);border-radius:10px;}
}